build/linux/Debug
build/linux/Release
build/linux/build32
build/linux/build64
build/linux/linux.workspace.session
build/linux/lib
build/linux/linux_wsp.mk
build/linux/testbed.mk
build/linux/library.mk

build/win/win.workspace.session
build/win/lib
build/win/build32
build/win/build64

build/mac/build32
build/mac/build64
build/mac/Debug
build/mac/lib
build/mac/library.mk
build/mac/linux.tags
build/mac/mac.workspace.session
build/mac/testbed.mk
build/mac/mac_wsp.mk